.nav {
  margin-top: 30px;

  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    &-link {
      color: #fff;
      text-decoration: none;
    }
  }
}